@import '../../scss/mixins';

.header{
        @include flexcol;
        width: 100%;
        height: 10rem;
        background-color: rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        

   &__heading{
        font-size: 2rem;
        margin-top: auto;
   }

   &__desc{
        font-size: 10px;
        opacity: .6;
        font-weight: 600;
        margin-top: auto;  
   }
}