@import '../scss/mixins';

.add{
    @include flexcol;

    &__card{
        background-color:  #ef9c9c;
        width: 20rem;
        height: 13rem;
        margin-top: 1rem;
        border-radius: 8px;
       
    }

    &__form{
        margin-top: 3rem;
    }
}